numpy
matplotlib
psutils
pandas
uncertainties
uproot
aiohttp
requests
awkward-pandas
jupyter
hep_ml
scikit-learn
tqdm
seaborn
xgboost
scipy
dash
flask 
plotly
watchdog
zfit
tensorflow
iminuit
numba_stats
datatable
b2luigi
luigi 
pyyaml
pyhf
cabinetry
ipykernel
ipywidgets
jupyter
ipympl
dotenv
mplhep
sly